<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <table>
          <tr>
              <td>Easy Survey Group members:</td>
              <td>Arsalaan Siddiqui </td>
              <td>Helena Zare </td>
              <td>Kayleigh Moore </td>
              <td>Parth Sharma </td>
              <td>Tsang tsz long </td>
              <td>Yang Xuan </td>
          </tr>
      </table>
      </div>
      <h6 class="display-6"&copy;2022 All rights reserved.></h6>
    </nav>
    </footer>